/* src/App.css */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

.header {
  background-color: #FF3E00;
  color: white;
  padding: 10px;
}

.title {
  margin: 0;
}

.game-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.game-card {
  border: 1px solid #1a1919;
  border-radius: 10px;
  overflow: hidden; /* Para aplicar as bordas arredondadas corretamente */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.game-card:hover {
  transform: scale(1.05);
}

.team-names {
  font-weight: bold;
  font-size: 1.2rem;
}

.game-date {
  font-size: 0.9rem;
  color: #666;
}
